/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=
 *=
 */
/* line 18, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.square, .focus, .register-block, .left, .right {
  min-width: 300px;
  min-height: 300px;
  width: 31.25%;
  max-height: 300px;
  background-color: #d9deee;
  display: inline-block;
  padding: 1em;
  opacity: .25;
  box-shadow: 1em 1em 1em #353639;
  overflow: hidden;
  border-radius: 10px;
}

/* line 19, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.focus, .register-block {
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: .3em;
  opacity: 1;
}
/* line 31, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.focus form, .register-block form {
  margin-top: 3%;
}
/* line 35, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.focus label, .register-block label {
  margin-bottom: 1.5em;
  font-size: 1em;
}
/* line 41, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.focus .textfield, .register-block .textfield {
  width: 70%;
  margin-bottom: 1em;
}
/* line 46, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.focus .intro-text, .register-block .intro-text {
  font-size: 1.20em;
}

/* line 51, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.left {
  float: left;
  margin-right: 3.125%;
}

/* line 57, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.right {
  float: right;
}

/* line 63, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.register-username-error, .confirm-password-error {
  color: #ee515c;
}

/* line 67, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.row {
  display: block;
  width: 100%;
  margin-top: 3.125%;
}

/* line 74, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.register, .login {
  cursor: pointer;
}
/* line 77, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.register:hover, .login:hover {
  color: #ee515c;
  cursor: pointer;
}

/* line 83, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.register-block {
  display: none;
}
/* line 87, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.register-block label {
  margin-bottom: .5em;
}
/* line 92, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.register-block .textfield {
  margin-bottom: .5em;
}

/* line 97, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.sample {
  color: #353639;
  font-size: 1.3em;
  background: -webkit-linear-gradient(top, #353639, rgba(217, 222, 238, 0));
  background: linear-gradient(to bottom, #353639, rgba(217, 222, 238, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 105, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/login.scss */
.usernames {
  display: none;
}

/* line 2, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.header-background {
  width: 100%;
  min-width: 960px;
  background-color: #353639;
  min-height: 60px;
  height: auto;
  color: white;
  padding: .75em;
  position: relative;
}
/* line 12, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.header-background .logo {
  float: left;
  margin: 0;
  font-size: 2em;
}

/* line 19, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.header-icon {
  height: 25px;
  width: 30px;
  padding-left: 5px;
}

/* line 25, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.header-wrapper {
  width: 90%;
  min-width: 864px;
  margin: auto;
}

/* line 31, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.search-button, .dropdown-button, .greeting {
  float: right;
  margin-right: -1px;
  border-right: 1px white solid;
  padding: .25em;
  padding-right: .5em;
}

/* line 39, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.greeting {
  padding-top: 10px;
}
/* line 42, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.greeting a {
  color: white;
}

/* line 47, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.search-button:hover, .dropdown-button:hover, .header-clicked {
  background-color: #b33d45;
  color: #353639;
  border-radius: 5px;
  height: 50px;
}

/* line 54, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.header-dropdown-menu {
  display: none;
  background-color: white;
  border-radius: 10px;
  border: 2px #d9deee solid;
  width: 150px;
  float: right;
  z-index: 999;
  position: absolute;
  top: 60px;
  right: 20px;
}
/* line 66, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.header-dropdown-menu ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
/* line 72, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.header-dropdown-menu li {
  list-style-type: none;
  border-top: 2px #d9deee solid;
  margin: 0;
  padding: .5em;
}
/* line 79, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.header-dropdown-menu li:hover {
  color: #ee515c;
}
/* line 83, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.header-dropdown-menu li:first-child {
  border: none;
}

/* line 88, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/header.scss */
.search {
  background-color: white;
  border-radius: 10px;
  border: 2px #d9deee solid;
  width: 250px;
  padding: .5em;
  position: absolute;
  margin-left: 710px;
  display: none;
  text-align: center;
}

/* line 1, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/dashboard.scss */
.dashboard-filter, .search-filter {
  padding: 10px;
  border-right: 1px solid black;
}

/* line 6, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/dashboard.scss */
.dashboard-filter:hover, .search-filter:hover {
  color: #ee515c;
}

/* line 10, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/dashboard.scss */
.form-div {
  margin: auto;
  text-align: center;
}

/* line 1, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story.scss */
.centered-form {
  margin: auto;
  width: 80%;
}
/* line 6, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story.scss */
.centered-form .textfield {
  width: 70%;
}
/* line 10, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story.scss */
.centered-form .button {
  margin-top: 20px;
  width: 20%;
}

/* line 16, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story.scss */
.form-div {
  padding: 10px;
  padding-top: 20px;
  border: 2px #e1e2e5 solid;
}

/* line 22, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story.scss */
.outer-form-div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 80%;
  margin: auto;
}

/* line 29, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story.scss */
#prompt-generator {
  cursor: pointer;
}

/* line 35, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story.scss */
.new-story-form .top-label {
  text-align: center;
}
/* line 39, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story.scss */
.new-story-form .textfield {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 70%;
}
/* line 46, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story.scss */
.new-story-form #button-div {
  height: 30px;
  padding-bottom: 10px;
}
/* line 50, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story.scss */
.new-story-form #button-div .button {
  margin-top: 0;
}

/* line 1, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.addition-form {
  display: none;
  background-color: rgba(255, 255, 255, 0.7);
  width: 90%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}
/* line 9, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.addition-form label {
  display: block;
}
/* line 13, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.addition-form .textarea {
  width: 70%;
  display: block;
  margin: auto;
}
/* line 19, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.addition-form .button {
  width: 100px;
}

/* line 24, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.addition-header {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  display: none;
}

/* line 31, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.addition-text {
  margin-top: 0;
  margin-bottom: 10px;
  display: none;
}

/* line 37, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.blurb-story {
  padding-left: 10px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: scroll;
}

/* line 46, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.blurb-functional {
  border-right: 1px white solid;
  padding-right: 10px;
  width: 280px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
/* line 54, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.blurb-functional .button {
  background-color: rgba(255, 255, 255, 0);
  background-image: none;
  color: #353639;
}
/* line 61, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.blurb-functional .button:hover {
  color: #b33d45;
}

/* line 67, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.story-blurb {
  border: 2px white solid;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -webkit-transition: 1s;
          transition: 1s;
}
/* line 78, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.story-blurb h1 {
  color: #b33d45;
}

/* line 83, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.story-list {
  text-align: center;
}

/* line 87, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.title {
  color: #b33d45;
}

/* line 91, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/story_list.scss */
.open-blurb {
  height: 500px;
  -webkit-transition: 1s;
          transition: 1s;
}

/* line 1, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/footer.scss */
.footer {
  height: 65px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  background-color: #d9deee;
  text-align: center;
  min-width: 960px;
}
/* line 10, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/footer.scss */
.footer span {
  margin-bottom: 20px;
}
/* line 14, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/footer.scss */
.footer .icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  opacity: .8;
}

/* line 5, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/search.scss */
#search-users-area {
  display: none;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}

/* line 13, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/search.scss */
.user-blurb {
  border: white 2px solid;
  margin-bottom: 50px;
  padding: 10px;
}

/* line 5, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.clearfix, .user-profile {
  clear: both;
  zoom: 1;
}
/* line 8, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.clearfix:before, .user-profile:before, .clearfix:after, .user-profile:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 14, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.clearfix:after, .user-profile:after {
  clear: both;
}

/* line 19, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.user-profile {
  display: block;
}
/* line 23, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.user-profile h1 {
  display: inline-block;
  margin: 0;
  margin-right: 300px;
  border: 1px solid white;
}
/* line 30, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.user-profile img {
  float: left;
  margin: 20px;
  padding: 10px;
}
/* line 37, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.user-profile .button {
  display: inline-block;
  margin-top: 10px;
  float: right;
}
/* line 43, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.user-profile .followed-button {
  width: 70px;
  background-color: #b33d45;
  background-image: none;
  color: #353639;
}

/* line 51, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.profile-header {
  background-color: white;
  border: 2px solid #e1e2e5;
  height: 60px;
  padding: 8px;
}

/* line 58, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.profile-header-border {
  background-color: white;
  height: 80px;
  padding: 10px;
}

/* line 64, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.profile-starts-display, .profile-additions-display {
  text-align: center;
  border: white solid 2px;
  margin: 40px;
}

/* line 70, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.profile-additions-display {
  display: none;
}

/* line 75, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.profile-description {
  margin-top: 40px;
}

/* line 80, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
.profile-tab {
  display: block;
  margin-top: -2px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #e1e2e5;
  border: white solid 2px;
  width: 340px;
  padding: 5px;
}

/* line 91, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
#contribution-tab, #create-tab {
  margin-left: 10px;
  border-left: 2px solid white;
  padding-left: 10px;
}

/* line 97, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/users.scss */
#contribution-tab:hover, #create-tab:hover {
  color: #ee515c;
  cursor: pointer;
}

/* line 34, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
a {
  color: #353639;
  text-decoration: none;
}

/* line 39, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
a:hover {
  color: #ee515c;
}

/* line 43, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
body {
  background-image: -webkit-linear-gradient(bottom, #8e92a0, white);
  background-image: linear-gradient(to top, #8e92a0, white);
  font-family: Didot, sans-serif;
  color: #353639;
  margin: 0;
}

/* line 50, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.button {
  color: #ee515c;
  background-color: #353639;
  border: 0px #b33d45 solid;
  border-radius: 10px;
  display: inline-block;
  padding: 2px;
  font-size: .75em;
  width: 5em;
  cursor: pointer;
  outline: none;
}

/* line 65, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.button:disabled {
  opacity: .75;
  cursor: default;
}

/* line 70, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.button-hover {
  box-shadow: 0 0 1em #ee515c;
}

/* line 76, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.centered-title {
  margin-top: 1em;
  text-align: center;
}

/* line 81, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.errors {
  color: #ee515c;
}

/* line 85, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.error-message {
  color: #ee515c;
}

/* line 89, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.flash {
  text-align: center;
  color: #01baab;
}

/* line 94, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.highlight-text {
  color: #b33d45;
}

/* line 98, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.bright-highlight-text {
  color: #ee515c;
}

/* line 102, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.highlight-text-hover {
  color: #ee515c;
  cursor: pointer;
}

/* line 107, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.side-label {
  display: inline-block;
  width: 15%;
}

/* line 112, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.textfield {
  border: none;
  background-color: #d9deee;
  border-radius: 10px;
  height: 2em;
  box-shadow: inset 0.25em 0.25em 0.25em #8e92a0;
  padding: .5em;
}

/* line 121, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.textarea {
  height: 10em;
  resize: none;
  margin-top: .5em;
}

/* line 127, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.error-field {
  box-shadow: inset 0.25em 0.25em 0.25em #8e92a0, 0 0 1em #ee515c;
  outline-color: #ee515c;
}

/* line 133, /Users/savannah/gSchoolWork/telltales/app/assets/stylesheets/application.scss */
.wrapper {
  width: 80%;
  min-width: 960px;
  margin: auto;
  margin-top: 5px;
  opacity: 1;
  min-height: 1500px;
}
