<h1 class="centered-title">Search Results</h1>

<div class="story-list">

  <div id="search-story-area">
    <p id="search-info">Showing stories based on: <span class="highlight-text" id="search-string"><%= @search.string %></span>. Did you
      want to see <span class="filter-search highlight-text">users</span> instead?</p>

    <p>Filter by:</p>

    <span class="search-filter">Newest</span>
    <span class="search-filter">Oldest</span>
    <span class="search-filter">Longest</span>
    <span class="search-filter">Creator</span>

    <%= render @search.starts %>
  </div>

  <div id="search-users-area">
    <p id="search-info">
      Showing users based on:
      <span class="highlight-text" id="search-string"><%= @search.string %></span>.
      Did you want to see
      <span class="filter-search highlight-text">stories</span>
      instead?
    </p>

    <%= render @search.users %>
  </div>
</div>