<h1 class="centered-title">Dashboard</h1>

<div class="story-list">

  <p>Filter by:</p>

  <span class="dashboard-filter">Newest</span>
  <span class="dashboard-filter">Oldest</span>
  <span class="dashboard-filter">Longest</span>
  <span class="dashboard-filter">Creator</span>

  <%= render @starts %>

</div>