/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=
 *=
 */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@import "variables";
@import "login";
@import "header";
@import "dashboard";
@import "story";
@import "story_list";
@import "footer";

a {
  color: $dark-grey;
  text-decoration: none;
}

a:hover {
  color: $light-red;
}

body {
  background-image: linear-gradient(to top, $grey, white);
  font-family: Didot, sans-serif;
  color: $dark-grey;
  margin: 0;
}

.button {
  color: $light-red;
  background-color: $dark-grey;
  background-image: linear-gradient(to bottom, #70747f, $dark-grey);
  border: 1px $red solid;
  border-radius: 10px;
  display: inline-block;
  padding: 2px;
  font-size: .75em;
  width: 5em;
  cursor: pointer;
  box-shadow: .15em .15em $grey;
}

.button:disabled {
  opacity: .75;
  cursor: default;
}

.button-hover {
//  margin-left: 1%;
//  margin-top: 1%;
  box-shadow: 0 0 1em $light-red;
}

.centered-title {
  margin-top: 1em;
  text-align: center;
}

.errors {
  color: $light-red;
}

.error-message {
  color: $light-red;
}

.flash {
  text-align: center;
  color: $teal;
}

.highlight-text {
  color: $red;
}

.highlight-text-hover {
  color: $light-red;
  cursor: pointer;
}

.side-label {
  display: inline-block;
  width: 15%;
}

.textfield {
  border:none;
  background-color: $light-grey;
  border-radius: 10px;
  height: 2em;
  box-shadow: inset .25em .25em .25em $grey;
  padding: .5em;
}

.textarea {
  height: 10em;
  resize: none;
  margin-top: .5em;
}

.error-field {
  box-shadow: inset .25em .25em .25em $grey, 0 0 1em $light-red;
  outline-color: $light-red;
}


.wrapper {
  width: 80%;
  min-width: 960px;
  margin: auto;
  opacity: 1;
  min-height: 1500px;

}

