
.header-background {
  width:100%;
  min-width: 960px;
  background-color: $dark-grey;
  min-height: 60px;
  height: auto;
  color: white;
  padding: .75em;
  position: relative;

  .logo {
    float: left;
    margin: 0;
    font-size: 2em;
  }
}

.header-icon {
  height: 25px;
  width: 30px;
  padding-left: 5px;
}

.header-wrapper {
  width: 90%;
  min-width: 960px * 0.9;
  margin: auto;
}

.search-button, .dropdown-button, .greeting {
  float: right;
  margin-right: -1px;
  border-right: 1px white solid;
  padding: .25em;
  padding-right: .5em;
}

.greeting {
  padding-top: 10px;

  a{
    color:white;
  }
}

.search-button:hover, .dropdown-button:hover, .header-clicked {
  background-color: $red;
  color: $dark-grey;
  border-radius: 5px;
  height: 50px;
}

.header-dropdown-menu {
  display: none;
  background-color: white;
  border-radius: 10px;
  border: 2px $light-grey solid;
  width: 150px;
  float: right;
  z-index: 999;
  position: absolute;
  top: 60px;
  right: 20px;

  ul {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  li {
    list-style-type: none;
    border-top: 2px $light-grey solid;
    margin: 0;
    padding: .5em;
  }

  li:hover {
    color: $light-red;
  }

  li:first-child {
    border: none;
  }
}

.search {
  background-color: white;
  border-radius: 10px;
  border: 2px $light-grey solid;
  width: 250px;
  padding: .5em;
  position: absolute;
  margin-left: 710px;
  display: none;
  text-align: center;

  .button {
  }
  .textfield {
   // margin-left: 20%;
  }
}