// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-users-area {
  display: none;
  width: 80%;
  margin: auto;
  text-align: center;
}

.user-blurb {
  border: white 2px solid;
  margin-bottom: 50px;
  padding: 10px;
}

.search-filter {
  @extend .dashboard-filter
}
