.addition-form {
  display: none;
  background-color: rgba(255, 255, 255, .7);
  width: 90%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;

  label {
    display: block;
  }

  .textarea {
    width: 70%;
    display: block;
    margin: auto;
  }

  .button {
    width: 100px;
  }
}

.addition-header {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  display: none;
}

.addition-text {
  margin-top: 0;
  margin-bottom: 10px;
  display: none;
}

.blurb-story {
  padding-left: 10px;
  flex-shrink: 0;
  flex-basis: 300px;
  flex-grow: 1;
  overflow: scroll;
}


.blurb-functional {
  border-right: 1px white solid;
  padding-right: 10px;
  width: 280px;
  flex-grow: 0;
  //flex-basis: 0;
  flex-shrink: 0;

  .button {
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    //border: white 2px solid;
    color: $dark-grey;
  }

  .button:hover {
    color: $red;
  }
}


.story-blurb {
  border: 2px white solid;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  display: flex;
  height: 250px;
  transition: 1s;

  h1 {
    color: $red
  }
}

.story-list {
  text-align: center;
}

.title {
  color: $red;
}

.open-blurb {
  height: 500px;
  transition: 1s;
}


