.dashboard-filter {
  padding: 10px;
  border-right: 1px solid black;
}

.dashboard-filter:hover {
  color: $light-red;
}

.story-blurb {
  border: 2px white solid;
  width: 80%;
  margin: 50px;
  padding: 10px;
  margin-bottom: 50px;
  display: flex;
  height: 250px;

  h1 {
    color: $red
  }
}

.story-list {
  text-align: center;
}

.blurb-functional {
  border-right: 1px white solid;
  padding-right: 10px;
  width: 280px;
  flex-grow: 0;
  //flex-basis: 0;
  flex-shrink: 0;
}

.blurb-story {
  padding-left: 10px;
  flex-shrink: 0;
  flex-basis: 300px;
  flex-grow: 1;
  overflow: scroll;
}

.title {
  color: $red;
}