.dashboard-filter {
  padding: 10px;
  border-right: 1px solid black;
}

.dashboard-filter:hover {
  color: $light-red;
}

.story-blurb {
  border: 2px white solid;
  display: flex;
  width: 80%;
  margin: 50px;
  padding: 10px;
  margin-bottom: 50px;

  h1 {
    color: $red;
  }
}

.story-list {
  text-align: center;
}

.blurb-functional {
  border-right: 1px white solid;
  padding-right: 10px;
  flex-grow: 1;
  min-width: 300px;
}

.blurb-story {
  flex-grow: 4;
  padding-left: 10px;
}