.addition-form {
  display: none;
  background-color: rgba(255, 255, 255, .7);
  width: 90%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;

  label {
    display: block;
  }

  .textarea {
    width: 70%;
    display: block;
    margin: auto;
  }

  .button {
    width: 100px;
  }
}

.addition-header {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  display: none;
}

.addition-text {
  margin-top: 0;
  margin-bottom: 10px;
  display: none;
}

.blurb-story {
  margin-top: -2px;
  flex-shrink: 0;
  flex-grow: 1;
  overflow: scroll;
  flex-basis: 320px;
  border: 2px white solid;
  height: 250px;
  transition: 1s;
  padding: 10px;
  margin-left: -2px;
}

.blurb-functional {
  margin-top: -2px;
  margin-left: -2px;
  width: 320px;
  flex-grow: 0;
  flex-shrink: 0;
  border: 2px white solid;
  height: 250px;
  transition: 1s;
  padding: 10px;


  .button {
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    color: $dark-grey;
  }

  .button:hover {
    color: $red;
  }
}

.story-blurb {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  h1 {
    color: $red
  }
}

@media all and (max-width: 825px) {
  .blurb-functional {
    flex-basis: 320px;
    flex-grow: 1;
  }
}

@media all and (max-width: 905px) {
  .profile-starts-display .blurb-functional {
    flex-grow: 1;
    flex-basis: 320px;
  }
}

.story-list {
  text-align: center;
}

.title {
  color: $red;
}

.open-blurb {
  height: 500px;
  transition: 1s;
}

@media all and (max-width: 825px) {
  .blurb-functional {
    height: 250px;
  }
}

