// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix {
  clear: both;
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

.user-profile {
  display: block;
  @extend .clearfix;

  h1 {
    display: inline-block;
    margin: 0;
    margin-right: 200px;
    border: 1px solid white;
  }

  img {
    float: left;
    margin: 20px;
    padding: 10px;
    //border: solid white 2px;
  }

  .button {
    display: inline-block;
    margin-top: 10px;
    float: right;
  }

  .followed-button {
    width: 70px;
    background-color: $red;
    background-image: none;
    color: $dark-grey;
  }
}

.profile-header {
  background-color: white;
  border: 2px solid $background-blend-grey;
  height: 60px;
  padding: 8px;
}

.profile-header-border {
  background-color: white;
  height: 80px;
  padding: 10px;
}

.profile-starts-display {
  text-align: center;
  border: white solid 2px;
  margin: 40px;
}

.profile-additions-display {
  @extend .profile-starts-display;
  display: none;
}


.profile-tab {
  display: block;
  margin-top: -2px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: $background-blend-grey;
  border: white solid 2px;
  width: 340px;
  padding: 5px;
}

#contribution-tab, #create-tab {
  margin-left: 10px;
  border-left: 2px solid white;
  padding-left: 10px;
}

#contribution-tab:hover, #create-tab:hover {
  color: $light-red;
  cursor: pointer;
}

